.arrivals {
    background-color: $bg-color;
    padding: 3rem 0;
    &__title {
        color: $text-color;
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__list {
        @include flexBox(stretch);
        margin-left: -1rem;
    }
    &__item {
        width: calc(25% - 1rem);
        padding: 1rem;
        margin-left: 1rem;
        background-color: white;
        position: relative;
    }
    &__link {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        color: $text-color;
        margin: 2rem 0;
        transition: all 0.25s linear;
        text-transform: uppercase;
    }
    &__link:hover {
        color: $primary-color;
    }
    &__price {
        @include flexBox(center, space-between);
        &-money {
            display: inline-block;
            font-size: 1.8rem;
            color: $primary-color;
        }
        &-btn {
            display: inline-block;
            padding: 5px 8px;
            color: $text-desc-color;
            text-transform: uppercase;
            background-color: white;
            font-size: 1.4rem;
            outline: none;
            border: 1px solid $border-color;
            transition: all 0.25s linear;
        }
        &-btn:hover {   
            color: white;
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
    &__sale {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
    }
    &__new {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 6;
    }
    &__image {
        position: relative;
    }
    &__more {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 4;
        @include flexBox(center, center);
        &-view {
            border: 1px solid white;
            color: white;
            font-size: 1.3rem;
            transition: all 0.25s linear;
        }
        &-view:hover {
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
}
