.arrivals {
    background-color: $bg-color;
    padding: 3rem 0;
    &__title {
        color: $text-color;
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__list {
        @include flexBox(stretch);
        margin-left: -1rem;
    }
    &__item {
        width: calc(25% - 1rem);
        padding: 1rem;
        margin-left: 1rem;
    }
}