.arrivals {
    background-color: $bg-color;
    padding: 3rem 0;
    &__title {
        color: $text-color;
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__list {
        @include flexBox(stretch);
        margin-left: -1rem;
    }
    &__item {
        width: calc(25% - 1rem);
        padding: 1rem;
        margin-left: 1rem;
        background-color: white;
    }
    &__link {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        color: $text-color;
        margin: 2rem 0;
        transition: all 0.25s linear;
    }
    &__link:hover {
        color: $primary-color;
    }
    &__price {
        @include flexBox(center, space-between);
        &-money {
            display: inline-block;
            font-size: 1.8rem;
            color: $primary-color;
        }
    }
}
