.banner {
    &__item {
        img {
            width: 100vw;
        }
        &-designed {
            position: relative;
        }
        &-content {
            position: absolute;
            top: 10rem;
            left: 22.5rem;
            @include size(62rem, auto);
            z-index: 6;
            text-align: center;
            h1 {
                color: white;
                font-size: 6rem;
                line-height: 1.2;
                text-transform: uppercase;
                border-bottom: 1px solid white;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
            }
            span {
                color: $primary-color;
                display: inline-block;
            }
            p {
                color: white;
                font-size: 2.3rem;
                line-height: 1.4;
            }
        }
        &-unlimited {
            position: relative;
        }
        &-sale {
            position: absolute;
            top: 10rem;
            left: 18rem;
            @include size(50rem, auto);
            z-index: 6;
            text-align: center;
            h2 {
                font-size: 10rem;
                color: white;
                margin-bottom: 1rem;
                font-weight: 400;
            }
            h4 {
                font-size: 2.3rem;
                color: white;
                margin-bottom: 1rem;
                font-weight: 400;
            }
            h3 {
                font-size: 4.5rem;
                color: white;
                margin-bottom: 5rem;
                font-weight: 400;
            }
            a {
                padding: 1rem 1.5rem;
                border: 1px solid white;
                color: white;
                display: inline-block;
                font-size: 2rem;
                font-weight: 400;
                transition: all 0.25s linear;
            }
            a:hover {
                background-color: $primary-color;
                color: white;
                border-color: $primary-color;
            }
        }
        &-sale-off {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            background-color: $primary-color;
            @include size(18rem);
            @include flexBox(center, center, column);
            border-radius: 50%;
            line-height: 1.2;
            z-index: 5;
            h5 {
                font-size: 2rem;
                font-weight: 400;
                color: white;
            }
            span {
                display: inline-block;
                font-size: 6rem;
                font-weight: 400;
                margin-left: 1rem;
            }
        }
        &-admin {
            position: relative;
        }
        &-info {
            position: absolute;
            top: 10rem;
            left: 18rem;
            @include size(56rem, auto);
            z-index: 6;
            text-align: center;
            color: white;
            h2 {
                font-size: 4.5rem;
                font-weight: 400;
            }
            h3 {
                font-size: 4.5rem;
                margin: 2rem 0;
            }
        }
        &-wanted {
            position: relative;
        }
        &-title {
            @include absoluteCenter();
            @include size(65rem, auto);
            z-index: 6;
            text-align: center;
            color: white;
            h2 {
                font-size: 6rem;
                line-height: 1.4;
                margin-bottom: 2rem;
                text-transform: uppercase;
            }
            a {
                display: inline-block;
                padding: 1rem 1.5rem;
                border: 1px solid white;
                font-size: 2rem;
                transition: all 0.25s linear;
                color: white;
                text-transform: capitalize;
            }
            a:hover {
                background-color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
    &__slider {
        @include size(100%, auto);
        position: relative;
        .slick-arrow {
            @include absoluteCenter(top);
            font-size: 3rem;
            border: 0;
            outline: 0;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 50%;
            color: white;
            padding: 1rem 1.5rem;
            transition: all 0.25s linear;
            z-index: 9;
        }
        .slick-next {
            right: 5rem;
        }
        .slick-prev {
            left: 5rem;
        }
        .slick-arrow:hover {
            background-color: white;
            color: black;
        }
    }
    @include maxWidth(1399px) {
        &__item-content {
            top: 5rem;
            left: 8rem;
            width: 56rem;
            h1 {
                font-size: 4rem;
            }
            p {
                font-size: 2rem;
            }
        }
        &__item-sale {
            top: 5rem;
            left: 4rem;
            width: 40rem;
            h2 {
                font-size: 5rem;
            }
            h3 {
                font-size: 3rem;
                margin-bottom: 3rem;
            }
            a {
                font-size: 1.8rem;
            }
        }
        &__item-sale-off {
            line-height: 1.2;
            @include size(12rem);
            transform: translate(50%, -50%);
            span {
                font-size: 3rem;
            }
        }
        &__item-info {
            top: 8rem;
            left: 4rem;
            h2 {
                font-size: 3rem;
            }
            h3 {
                font-size: 2.5rem;
            }
        }
        &__item-title {
            h2 {
                font-size: 4.5rem;
            }
        }
        &__slider {
            .slick-arrow {
                font-size: 2rem;
            }
        }
    }
    @include maxWidth(1023px) {
        &__item-content {
            @include absoluteCenter();
            width: 50rem;
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.8rem;
            }
        }
        &__item-sale {
            @include absoluteCenter();
            width: 28rem;
            h2 {
                font-size: 4rem;
                color: $primary-color;
            }
            h3, h4 {
                color: $primary-color;
            }
            a {
                border-color: $primary-color;
                color: $primary-color;
            }
        }
        &__item-sale-off {
            @include size(8rem);
            h5 {
                font-size: 1.5rem;
            }
            span {
                font-size: 2.5rem;
            }
        }
    }
    @include maxWidth(767px) {
        &__item {
            img {
                @include size(100%, 40rem);
                object-fit: cover;
                object-position: center;
            }
        }
        &__item-content {
            @include absoluteCenter();
            width: 34rem;
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.8rem;
            }
        }
        &__item-sale {
            @include absoluteCenter();
            width: 28rem;
            h2 {
                font-size: 4rem;
                color: $primary-color;
            }
            h3, h4 {
                color: $primary-color;
            }
            a {
                border-color: $primary-color;
                color: $primary-color;
            }
        }
        &__item-sale-off {
            @include size(8rem);
            h5 {
                font-size: 1.5rem;
            }
            span {
                font-size: 2.5rem;
            }
        }
        &__item-info {
            @include absoluteCenter();
            width: 30rem;
            h2 {
                font-size: 2.5rem;
            }
            h3 {
                font-size: 2.2rem;
            }
        }
        &__item-title {
            @include absoluteCenter();
            width: 32rem;
            h2 {
                font-size: 3rem;
            }
        }
        &__slider {
            .slick-prev {
                font-size: 1.5rem;
                left: 2rem;
            }
            .slick-next {
                font-size: 1.5rem;
                right: 2rem;
            }
        }
    }
}
