.banner {
    &__slider {
        @include size(100%, auto);
        position: relative;
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 3rem;
            border: 0;
            outline: 0;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 50%;
            color: white;
            padding: 1rem 1.5rem;
            transition: all 0.25s linear;
            z-index: 9;
        }
        .slick-next {
            right: 5rem;
        }
        .slick-prev {
            left: 5rem;
        }
        .slick-arrow:hover {
            background-color: white;
            color: black;
        }
    }
    &__item {
        img {
            width: 100vw;
        }
    }
}