.contact {
    background-color: $primary-color;
    padding: 5rem 0;
    &__wrapper {
        @include flexBox(center, space-between);
    }
    &__item {
        width: calc(33.33% - 1rem);
        @include flexBox(center, center);
    }
    &__image {
        padding: 1rem 1.5rem;
        border: 2px solid white;
        border-radius: 50%;
    }
    &__icon {
        font-size: 2rem;
        color: white;
    }
}