.contact {
    background-color: $primary-color;
    padding: 5rem 0;
    &__wrapper {
        @include flexBox(center, space-between);
    }
    &__item {
        width: calc(33.33% - 1rem);
        @include flexBox(center, center);
    }
    &__image {
        padding: 2rem;
        border: 2px solid white;
        border-radius: 5rem;
        margin-right: 1rem;
    }
    &__icon {
        font-size: 3rem;
        color: white;
    }
    &__title {
        color: white;
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__desc {
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
    }
}