.footer {
    background-color: #313030;
    padding: 5rem 0;
    &__wrapper {
        @include flexBox(center, space-between);
    }
    &__box {
        width: calc(25% - 1.5rem);
    }
    &__title {
        font-size: 3rem;
        font-weight: 500;
        color: $text-desc-color;
        text-transform: uppercase;
    }
}