.header {
    position: relative;
    &__top {
        padding: 1rem 0;
        @include flexBox(stretch, space-between);
    }
    &__top::after {
        content: "";
        position: absolute;
        top: 3.4rem;
        right: 0;
        left: 0;
        border-bottom: 1px solid $border-color;
        z-index: -1;
    }
    &__info { 
        &-list {
            @include flexBox(stretch, center);
        }
        &-item {
            position: relative;
            padding: 0 1.5rem;
            transition: all 0.25s linear;
            i {
                color: $third-color;
            }
            span {
                font-family: $secondary-font;
                font-weight: 400;
                color: $third-color;
                font-size: 1.3rem;
            }
        }
        &-item:not(:last-child) {
            border-right: 1px solid $third-color;
        }
        &-language {
            color: $third-color;
            font-size: 1.3rem;
            font-family: $secondary-font;
            font-weight: 400;
            display: inline-block;
            transition: all 0.25s linear;
        }
        &-language:hover {
            color: $primary-color;
        }
        &-money {
            color: $third-color;
            font-size: 1.3rem;
            font-family: $secondary-font;
            font-weight: 400;
            transition: all 0.25s linear;
        }
        &-money:not(:last-child) {
            margin-right: 5px;
        }
        &-money:hover {
            color: $primary-color;
        }
        &--red {
            color: $primary-color;
        }
        &-box {
            background-color: $border-color;
            position: absolute;
            top: 100%;
            left: 0;
            transform: translateY(10px);
            visibility: hidden;
            opacity: 0;
            z-index: 9;
        }
        &-box::after {
            @include menuRibbon(0, 15%, -6px, 9);
        }
        &-box::before {
            content: "";
            position: absolute;
            height: 1rem;
            background-color: transparent;
            transform: translateY(-100%);
            top: 0;
            left: 0;
            right: 0;
            z-index: 7;
        }
        &-item:hover .header__info-box {
            visibility: visible;
            opacity: 1;
        }
        &-other {
            font-family: $secondary-font;
            color: $third-color;
            font-size: 1.3rem;
            font-weight: 500;
            padding: 1rem 1.5rem;
            display: block;
            transition: all 0.25s linear;
        }
        &-box li:first-child {
            border-top: 1px solid $primary-color;
            cursor: pointer;
        }
        &-other:hover {
            color: white;
            background-color: $primary-color;
        }
    }
    &__user {
        &-list {
            @include flexBox(stretch, center);
        }
        &-item {
            padding: 0 1.5rem;
        }
        &-item:not(:last-child) {
            border-right: 2px solid $third-color;
        }
        &-link {
            font-family: $secondary-font;
            font-weight: 400;
            display: inline-block;
            font-size: 1.3rem;
            color: $third-color;
        }
        &-link:hover {
            color: $primary-color;
        }
    }
    &__bottom {
        @include flexBox(center, space-between);
        padding: 2rem 0;
        position: relative;
    }
    &__menu {
        @include flexBox(center, center);
        position: relative;
        &-item {
            padding: 1rem;
        }
        &-item.woman {
            position: relative;
        }
        &-item:hover .header__menu-woman {
            visibility: visible;
            opacity: 1;
        }
        &-item:hover .header__menu-link {
            color: $primary-color;
        }
        &-link {
            font-family: $secondary-font;
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
            color: $third-color;
            display: inline-block;
        }
        &-icon {
            font-size: 1.5rem;
            color: $third-color;
            padding: 1rem 1.5rem;
            margin-left: 1.5rem;
            border-left: 2px solid $border-color;
            cursor: pointer;
        }
        &-woman {
            position: absolute;
            top: 100%;
            left: 0;
            transform: translateY(20px);
            @include size(180px, auto);
            transition: transform 0.25s ease-in;
            background-color: white;
            border-top: 1px solid $primary-color;
            visibility: hidden;
            opacity: 0;
            z-index: 9;
        }
        &-woman::before {
           @include trickHover();
        }
        &-woman::after {
            @include menuRibbon(0, 15%, -8px, 9);
        }
        &-box {
            padding: 1rem 1.5rem;
            transition: all 0.25s linear;
            cursor: pointer;
        }
        &-box:hover {
            background-color: $primary-color;
        }
        &-box:hover a {
            color: white;
        }
        &-boxes {
            @include flexBox(center, space-between);
            position: relative;
            i {
                color: $third-color;
            }
            ul {
                position: absolute;
                top: 0;
                left: 0;
                @include size(180px, auto);
                transform: translate(100%, 100%);
                transition: transform 0.4s ease-in;
                background-color: #ccc;
                visibility: hidden;
                opacity: 0;
            }
            li {
                padding: 1rem 1.5rem;
                background-color: white;
                a.header__menu-linking {
                    font-size: 1.3rem;
                    color: $third-color;
                    display: inline-block;
                }
            }
            li:hover {
                background-color: $primary-color;
                a.header__menu-linking {
                    color: white;
                }
            }
        }
        &-boxes:hover i{
            color: white;
        }
        &-boxes:hover {
            ul {
                transform: translate(100%, 0);
                visibility: visible;
                opacity: 1;
            }
        }
        &-linked {
            font-family: $secondary-font;
            color: $third-color;
            font-size: 1.3rem;
            font-weight: 500;
            display: block;
            transition: all 0.25s linear;
            display: block;
        }
        &-item {
            position: static;
        }
        &-man {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, auto);
            transform: translateY(8rem);
            background-color: white;
            padding: 2rem 2.5rem;
            border-top: 1px solid $primary-color;
            visibility: hidden;
            opacity: 0;
            z-index: 6;
            ul {
                @include flexBox(stretch, space-between);
            }
            li {
                width: 25%;
            }
            span {
                display: block;
                color: $text-color;
                font-size: 1.6rem;
                font-family: $secondary-font;
                font-weight: 600;
                text-transform: uppercase;
                padding: 1rem;
                border-bottom: 1px solid $border-color;
                margin-bottom: 1rem;
            }
            a {
                display: block;
                font-size: 1.3rem;
                color: $third-color;
                padding: 1rem;
                transition: all 0.25s linear;
            }
            a:hover {
                color: white;
                background-color: $primary-color;
            }
            div {
                @include flexBox(stretch, center);
                margin-top: 2rem;
                img {
                    width: calc(100% / 6);
                }
            }
        }
        &-man::after {
            @include trickHover();
        }
        &-man::before {
            @include menuRibbon(0, 33%, -100%, 9);
        }
        &-item:hover .header__menu-man {
            visibility: visible;
            opacity: 1;
        }
    }
    &__buy {
        background-color: #f9f9f9;
        padding: 8px 4rem 8px 1rem;
        border-radius: 3rem;
        border: 1px solid $border-color;
        position: relative;
        &-link {
            color: $third-color;
            font-size: 1.3rem;
            padding-right: 1rem;
            display: inline-block;
            transition: all 0.25s linear;
        }
        &-link:first-child {
            margin-right: 1rem;
            border-right: 1px solid #ccc;
        }
        &-link:hover {
            color: $primary-color;
        }
        &-icon {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            transform: scale(1.2, 1.2);
            font-size: 1.3rem;
            color: white;
            padding: 1rem;
            background-color: $primary-color;
            border-radius: 50%;
            cursor: pointer;
        }
        &-cart {
            position: absolute;
            top: 0;
            left: 0;
            @include size(35rem, auto);
            background-color: #fff;
            transform: translate(-50%, 5.5rem);
            transition: all 0.25s linear;
            border-top: 1px solid $primary-color;
            visibility: hidden;
            opacity: 0;
            z-index: 9;
        }
        &-cart.is-show {
            visibility: visible;
            opacity: 1;
        }
        &-cart::before {
            @include menuRibbon(0, 92%, -8px, 9);
        }
        &-list {
            padding: 2rem;
            @include size(100%, 30rem);
            overflow-y: auto;
            li {
                @include flexBox(center, space-between);
            }
            li:not(:last-child) {
                padding-bottom: 1rem;
                border-bottom: 1px solid $border-color;
                margin-bottom: 1rem;
            }
            span, a {
                display: inline-block;
                color: $third-color;
                font-size: 1.5rem;
            }
            a:hover {
                color: $primary-color;
            }
            i {
                font-size: 1.8rem;
                color: $third-color;
                cursor: pointer;
            }
            i:hover {
                color: $primary-color;
            }
        }
        &-list::-webkit-scrollbar {
            width: 5px;
        }
        &-list::-webkit-scrollbar-track {
            background-color: white;
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
        }
        &-list::-webkit-scrollbar-thumb {
            background-color: $third-color;
            border-radius: 5px;
        }
        &-btn {
            padding: 2rem;
            @include flexBox(stretch, center);
            button:first-child {
                color: white;
                background-color: $third-color;
                padding: 1.5rem 2rem;
                margin-right: 2rem;
                display: inline-block;
                font-size: 1.5rem;
                border: 1px solid $third-color;
                outline: 0;
                position: relative;
                transition: all 0.25s linear;
            }
            button:first-child:hover {
                color: $primary-color;
                background-color: white;
                border-color: $primary-color;
            }
            button:last-child {
                color: white;
                background-color: $primary-color;
                display: inline-block;
                font-size: 1.5rem;
                border: 1px solid $primary-color;
                outline: 0;
                padding: 1.5rem 2rem;
                transition: all 0.25s linear;
            }
            button:last-child:hover {
                color: $third-color;
                background-color: white;
                border-color: $third-color;
            }
        }
    }
    &__menu {
        position: static;
        &-new {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, auto);
            transform: translateY(80px);
            background-color: white;
            @include flexBox(stretch, space-between);
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s linear;
            padding: 2rem 2.5rem;
            border-top: 1px solid $primary-color;
            z-index: 9;
            li {
                width: 25%;
                padding: 1rem 1.5rem;
                border: 5px solid transparent;
                transition: all 0.25s linear;
            }
            li:hover {
                border-color: $border-color;
            }
            h4 {
                color: $text-color;
                font-size: 1.6rem;
                font-family: $third-font;
                font-weight: 500;
                text-transform: uppercase;
                margin: 1.5rem 0;
            }
            div {
                @include flexBox(center, space-between);
            }
            a {
                display: inline-block;
                font-family: $third-font;
                color: $text-desc-color;
                border: 1px solid $border-color;
                padding: 8px 1rem;
                text-transform: uppercase;
                font-size: 1.4rem;
                transition: all 0.25s linear;
            }
            a:hover {
                color: white;
                background-color: $primary-color;
                border-color: $primary-color;
            }
            span {
                font-family: $third-font;
                display: inline-block;
                color: $primary-color;
                font-size: 1.8rem;
            }
        }
        &-new::before {
            @include menuRibbon(0, 44%, -100%, 9);
        }
        &-new::after {
            @include trickHover();
        }
        &-item:hover .header__menu-new {
            visibility: visible;
            opacity: 1;
        }
        &-item.pages {
            position: relative;
        }
        &-pages {
            position: absolute;
            top: 100%;
            left: 0;
            @include size(15rem, auto);
            background-color: white;
            transform: translateY(2rem);
            border-top: 1px solid $primary-color;
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s linear;
            li {
                padding: 1rem 1.5rem;
                transition: all 0.25s linear;
                cursor: pointer;
            }
            li:hover {
                background-color: $primary-color;
            }
            a {
                display: block;
                color: $third-color;
                font-size: 1.3rem;
            }
            li:hover a {
                color: white;
            }
        }
        &-pages::before {
            @include menuRibbon(0, 15%, -8px, 9);
        }
        &-pages::after {
            @include trickHover();
        }
        &-item:hover .header__menu-pages {
            visibility: visible;
            opacity: 1;
        }
    }
    &__bar {
        &-nav {
            color: black;
            font-size: 3rem;
        }
        &-menu {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            @include size(40rem, 100%);
            background-color: white;
            padding: 3rem 3.5rem;
            margin-left: auto;
        }
        &-close {
            font-size: 3rem;
            color: black;
            margin-left: auto;
        }
    }
    @include maxWidth(1023px) {
        &__menu {
            display: none;
        }
        &__buy {
            display: none;
        }
    }
}