.header {
    &__top {
        @include flexBox(stretch, space-between);
    }
    &__info { 
        &-list {
            @include flexBox(stretch, center);
        }
        &-item:not(:last-child) {
            border-right: 1px solid $third-color;
            padding: 0 1.5rem;
        }
        &-language {
            color: $third-color;
            color: 1.3rem;
        }
        &-box {
            display: none;
        }
    }
    
}