.header {
    &__top {
        @include flexBox(stretch, space-between);
        padding: 1rem 0;
    }
    &__info { 
        &-list {
            @include flexBox(stretch, center);
        }
        &-item {
            padding: 0 1.5rem;
            span, i {
                color: $third-color;
            }
        }
        &-item:not(:last-child) {
            border-right: 1px solid $third-color;
        }
        &-language {
            color: $third-color;
            font-size: 1.3rem;
            display: inline-block;
        }
        &-money {
            color: $third-color;
            font-size: 1.3rem;
        }
        &-money:not(:last-child) {
            margin-right: 5px;
        }
        &-box {
            display: none;
        }
    }
    
}