.threeitems {
    background-color: $bg-color;
    padding: 5rem 0;
    &__wrapper {
        @include flexBox();
    }
    &__sidebar {
        width: 30%;
    }
    &__item {
        padding: 1rem 1.5rem;
        background-color: white;
        margin-bottom: 1rem;
        box-shadow: 2px 5px 5px 2px $text-desc-color;
        cursor: pointer;
    }
    &__link {
        font-size: 1.3rem;
        font-weight: 400;
        color: $text-color;
        text-transform: uppercase;
        transition: all 0.25s linear;
        display: inline-block;
        pointer-events: none;
        i {
            margin-right: 1rem;
        }
    }
    &__item:hover .threeitems__link{
        color: $primary-color;
    }
    &__container {
        width: calc(70% - 3rem);
        margin-left: 3rem;
    }
    &__box {
        width: calc(33.33% - 1rem);
    }
    &__content {
        height: 0;
        overflow: hidden;
        transition: height 0.25s linear;
        li {
            padding: 1rem 1.5rem;
            background-color: white;
            margin-bottom: 5px;
            cursor: pointer;
            a {
                display: inline;
                font-size: 1.3rem;
                font-weight: 400;
                color: $text-color;
                text-transform: uppercase;
                transition: all 0.25s linear;
            }
        }
        li:hover a {
            color: $primary-color;
        }
    }
    &__content.active {
        height: auto;
    }
    @include maxWidth(1023px) {
        &__wrapper {
            display: block;
        }
        &__sidebar {
            width: 100%;
        }
        &__container {
            width: 100%;
            
        }
    }
}