.threeitems {
    background-color: $bg-color;
    padding: 5rem 0;
    &__wrapper {
        @include flexBox();
    }
    &__sidebar {
        width: 30%;
    }
    &__item {
        padding: 1rem 1.5rem;
        background-color: white;
        margin-bottom: 1rem;
    }
    &__container {
        width: calc(70% - 3rem);
        margin-left: 3rem;
    }
}